#blog {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border: 3px solid black;
  background: url("/project-pictures/blog.jpeg");
  background-size: cover;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#blog h4 {
  color: black;
  font-size: 2.6rem;
}

#blog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#bio {
  border: 3px solid black;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#bio:hover {
  -webkit-transform: rotate(1deg) scale(1.1);
          transform: rotate(1deg) scale(1.1);
}

#image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: 3px solid black;
  background-image: url("/project-pictures/rory-white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#projects {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-color: #143a56;
  border: 3px solid black;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#projects h4 {
  font-size: 1.5rem;
}

#projects:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-image: url("/project-pictures/resume-pic.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  border: 3px solid black;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#resume h4 {
  color: black;
  font-size: 1.5rem;
}

#resume:hover {
  -webkit-transform: rotate(2deg) scale(1.1);
          transform: rotate(2deg) scale(1.1);
}

/* Dropdown Button */
#button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropbtn {
  min-width: 90%;
  background: url("/project-pictures/nav-bar.jpeg");
  background-size: cover;
  background-position: center;
  padding: 16px;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  height: 0px;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
  width: 90%;
  position: static;
  text-align: left;
}

.dropdown-content h4 {
  font-family: 'Libre Baskerville', serif;
  color: #1332e2;
  font-size: 1.8rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
  opacity: 1;
  height: 75vh;
}

#twitter {
  height: 100%;
  background-image: url("/project-pictures/twitter.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px solid black;
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

#link {
  border: 3px solid black;
  background-color: black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  height: 100%;
  background-image: url("/project-pictures/link-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#git {
  border: 3px solid black;
  background-color: #143A56;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  height: 100%;
  background-image: url("/project-pictures/git-hub-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#medium {
  border: 3px solid black;
  background-color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  height: 100%;
  background-image: url("/project-pictures/medium-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100vh;
}

#grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 20% 10% 35% 30% 5% 5%;
      grid-template-rows: 20% 10% 35% 30% 5% 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2px;
  margin-bottom: 5%;
  grid-gap: 1px;
}

.main-content h4 {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 3rem;
}
/*# sourceMappingURL=style-main.css.map */