#blog {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border: 3px solid black;
  background: url("/project-pictures/blog.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#blog h4 {
  color: black;
  font-size: 2.6rem;
}

#blog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#bio {
  border: 3px solid black;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#bio:hover {
  -webkit-transform: rotate(1deg) scale(1.1);
          transform: rotate(1deg) scale(1.1);
}

#image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: 3px solid black;
  background-image: url("/project-pictures/rory-white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#projects {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-color: #143a56;
  border: 3px solid black;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#projects h4 {
  font-size: 1.5rem;
}

#projects:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-image: url("/project-pictures/resume-pic.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  border: 3px solid black;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#resume h4 {
  color: black;
  font-size: 1.5rem;
}

#resume:hover {
  -webkit-transform: rotate(2deg) scale(1.1);
          transform: rotate(2deg) scale(1.1);
}

/* Dropdown Button */
#button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropbtn {
  min-width: 90%;
  background: url("/project-pictures/nav-bar.jpeg");
  background-size: cover;
  background-position: center;
  padding: 16px;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  opacity: 0;
  -webkit-transition: height 1s ease-in;
  transition: height 1s ease-in;
  height: 0px;
  width: 90%;
  position: static;
  text-align: left;
}

.dropdown-content h4 {
  font-family: 'Libre Baskerville', serif;
  color: #1332e2;
  font-size: 1.8rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
  opacity: 1;
  height: 75vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#twitter {
  background-image: url("/project-pictures/twitter.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px solid black;
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#twitter:active {
  background-color: black;
}

#link:active {
  background: white;
}

#medium:active {
  background: black;
}

#git:active {
  background: black;
}

#link {
  border: 3px solid black;
  background-color: black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  background-image: url("/project-pictures/link-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#git {
  border: 3px solid black;
  background-color: #143A56;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background-image: url("/project-pictures/git-hub-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#medium {
  border: 3px solid black;
  background-color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background-image: url("/project-pictures/medium-icon.PNG");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#grid-button {
  display: none;
}

.grid-dropbtn {
  width: 100%;
  height: 100%;
  background: url("/project-pictures/nav-bar.jpeg");
  background-size: cover;
  background-position: center;
  border: 3px solid black;
}

.grid-hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Dropdown Content (Hidden by Default) */
.grid-dropdown-content {
  background-image: url("/project-pictures/nav-bar.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  display: none;
  text-align: left;
}

.grid-dropdown-content h4 {
  font-family: 'Libre Baskerville', serif;
  color: #1332e2;
  font-size: 1.8rem;
}

/* Links inside the dropdown */
.grid-dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

/* Show the dropdown menu on hover */
.grid-dropbtn:hover .grid-dropdown-content {
  position: relative;
  height: auto;
  display: block;
  z-index: 10;
}

#bio-blog {
  display: none;
}

#bio-projects {
  display: none;
}

#bio-resume {
  display: none;
}

.bio-desktop-wrapper {
  display: none;
}

.whole-body-wrapper {
  background-color: black;
}

.bio-grid {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 8% 35%  auto 5%;
      grid-template-rows: 8% 35%  auto 5%;
}

#header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#internals {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10%;
}

#internals a {
  font-family: 'Libre Baskerville', serif;
  color: black;
  font-size: .8rem;
}

#mobile-bio-head {
  width: 100px;
}

#head-picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url(/project-pictures/bio-background.jpeg);
  background-size: 100% 79%;
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#round-me {
  width: 35%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid black;
}

#main-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: #143a56;
  margin-top: 10px;
}

#main-content article p {
  font-family: 'Libre Baskerville', serif;
  color: black;
  padding: 20px;
}

#main-content h2 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 2.8rem;
  padding-left: 5%;
}

#main-content h4 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  padding: 10px;
}

#footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#contact-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

#contact-wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 20%;
}

#contact-wrapper section p {
  font-family: 'Libre Baskerville', serif;
}

#contact-wrapper img {
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#contact-wrapper img:hover {
  -webkit-transform: rotate(360deg) scale(1.5);
          transform: rotate(360deg) scale(1.5);
}

#bio-button-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-dropbtn {
  padding: 2px;
  margin-left: 2%;
  background-color: black;
}

.bio-hamburger {
  width: 50px;
  height: 2px;
  background-color: White;
  margin: 6px 0;
}

.bio-dropdown-content {
  height: 0px;
  background-image: url(/project-pictures/nav-bar.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bio-dropdown-content a {
  display: none;
  color: #120fb3;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  padding: 5px;
}

.bio-dropbtn:hover .bio-dropdown-content {
  height: auto;
  width: 95vw;
}

.bio-dropbtn:hover .bio-dropdown-content a {
  display: block;
}

.left-div {
  display: none;
}

.right-div {
  display: none;
}

@media screen and (min-width: 400px) {
  #round-me {
    width: 25%;
  }
}

@media screen and (min-width: 580px) {
  #round-me {
    width: 20%;
    height: 50%;
  }
  #mobile-bio-head {
    width: 200px;
  }
  #internals {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10%;
  }
  #internals a {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 1.2rem;
  }
  #contact-wrapper {
    padding-bottom: 30px;
  }
  #contact-wrapper section {
    width: 10%;
  }
  #contact-wrapper img {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #contact-wrapper img:hover {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
  }
}

@media screen and (min-width: 1030px) {
  .bio-desktop-button {
    display: none;
  }
  #footer {
    display: none;
  }
  .bio-grid {
    -ms-grid-columns: 12.5% 7.5% 60% 20%;
        grid-template-columns: 12.5% 7.5% 60% 20%;
    -ms-grid-rows: 40% 50% auto;
        grid-template-rows: 40% 50% auto;
    grid-gap: 0;
  }
  .whole-body-wrapper {
    width: 100%;
    height: auto;
    background-color: white;
  }
  #mobile-bio-head {
    height: 30%;
    width: 70%;
  }
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #head-picture {
    background-color: #143A56;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding: 0;
    margin: 0;
  }
  #round-me {
    height: 45%;
    width: 15%;
  }
  .right-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    background-image: url(/project-pictures/nav-bar.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  #main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    margin: 0;
    padding: 20px;
  }
  #bio-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border: 3px solid black;
    background-image: url(/project-pictures/blog.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #bio-blog h4 {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 2rem;
  }
  #bio-blog:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #bio-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #bio-projects h4 {
    color: white;
  }
  #bio-projects:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #bio-resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 25%;
    background-color: black;
    background-image: url(/project-pictures/resume-pic.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #bio-resume:hover {
    -webkit-transform: scale(1.1) rotate(2deg);
            transform: scale(1.1) rotate(2deg);
  }
  #contact-wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  #contact-wrapper section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 18%;
  }
  #contact-wrapper section p {
    font-family: 'Libre Baskerville', serif;
  }
  #contact-wrapper img {
    height: 75%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  #contact-wrapper img:hover {
    -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
  }
  .bio-dropbtn {
    display: none;
  }
  #bio-desktop-button-wrapper {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bio-desktop-dropbtn {
    color: black;
    padding: 2px;
    margin-left: 2%;
  }
  .bio-desktop-hamburger {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
  .bio-desktop-dropdown-content {
    height: 0px;
    background-color: rgba(0, 0, 0, 0.137);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .bio-desktop-dropdown-content a {
    display: none;
    color: red;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
  }
  .bio-desktop-dropbtn:hover {
    opacity: .5;
  }
  .bio-desktop-dropbtn:hover .bio-desktop-dropdown-content {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 20vw;
  }
  .bio-desktop-dropbtn:hover .bio-desktop-dropdown-content a {
    display: block;
    opacity: 1;
  }
}

.wrapper-soft {
  width: 80%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.534);
  padding: 10%;
  text-align: center;
}

.wrapper-soft h3 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  padding: 20px;
}

.wrapper-soft p {
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.passion {
  width: 100%;
  background-color: #4CAF50;
}

.trainability {
  width: 100%;
  background-color: #2196F3;
}

.creativity {
  width: 100%;
  background-color: red;
}

.coffee {
  width: 100%;
  background-color: #2196F3;
}

.project {
  width: 100%;
  background-color: #4CAF50;
}

.ruby {
  width: 85%;
  background-color: #4CAF50;
}

.html {
  width: 80%;
  background-color: #2196F3;
}

.git {
  width: 95%;
  background-color: red;
}

.learning {
  width: 30%;
  background-color: #2196F3;
}

.image-cont {
  width: 100vw;
}

.blog img {
  height: 100%;
  width: 100%;
}

#blog-button-wrapper {
  widows: 90%;
  position: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-dropbtn {
  padding: 2px;
  margin-left: 2%;
  background-color: #143a56;
}

.blog-hamburger {
  width: 50px;
  height: 2px;
  background-color: White;
  margin: 6px 0;
}

.blog-dropdown-content {
  height: 0px;
  background-color: #143a56;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog-dropbtn:hover .blog-dropdown-content {
  height: auto;
  width: 95vw;
}

body {
  width: 100%;
  height: 100vh;
}

#logo-wrap {
  display: none;
}

#grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 20% 10% 35% 30% 5% 5%;
      grid-template-rows: 20% 10% 35% 30% 5% 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2px;
  margin-bottom: 5%;
  grid-gap: 1px;
}

.main-content h4 {
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 3rem;
}

@media screen and (min-width: 599px) and (max-width: 1030px) {
  #grid-container {
    height: 90%;
    -ms-grid-columns: 50% 25% 25%;
        grid-template-columns: 50% 25% 25%;
    -ms-grid-rows: 40% 10% 35% 7.5% 7.5%;
        grid-template-rows: 40% 10% 35% 7.5% 7.5%;
  }
  #logo-wrap {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 4%;
  }
  #logo {
    height: 20%;
    width: 30%;
  }
  #bio {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-size: cover;
  }
  #blog {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  #blog h4 {
    color: white;
  }
  #projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  #projects h4 {
    color: black;
    font-size: 2rem;
  }
  #resume {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/6;
    background-size: cover;
  }
  #resume h4 {
    font-size: 2rem;
  }
  #twitter {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #link {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #git {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  #medium {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .dropbtn:hover .dropdown-content {
    opacity: 1;
    height: 50vh;
  }
}

@media screen and (min-width: 1031px) {
  #grid-container {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0%;
    padding: 0%;
    height: 70%;
    width: 70%;
    -ms-grid-columns: 30% 30% 10% 10% 10% 10%;
        grid-template-columns: 30% 30% 10% 10% 10% 10%;
    -ms-grid-rows: 15% 70% 12.5% 12.5%;
        grid-template-rows: 15% 70% 12.5% 12.5%;
  }
  #logo-wrap {
    display: inline;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  #logo {
    height: 20%;
    width: 30%;
  }
  #button-wrapper {
    display: none;
  }
  #grid-button {
    display: inline-block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #bio {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    background-size: cover;
  }
  #blog {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  #blog h4 {
    color: white;
  }
  #projects {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  #projects h4 {
    color: black;
    font-size: 2rem;
  }
  #resume {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background-image: none;
    background-color: #c90707;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #resume h4 {
    font-size: 2rem;
  }
  #twitter {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #link {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #git {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #medium {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    max-height: 100%;
    max-width: 100%;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style-main.css.map */