.whole-body-wrapper{
    background-color:black;
}
.bio-grid {
    height: 100vh;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 35%  auto 5%;
}

#header {
    grid-column: 1/2;
    grid-row: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}

#mobile-bio-head{
    width: 100px;
}

#head-picture {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(/project-pictures/bio-background.jpeg);
    background-size: 100% 79%;
    background-repeat: no-repeat;
    background-position: top;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    
}
#round-me{
    width: 35%;
    height:50%;
    border-radius: 50%;
    border: 3px solid black;
}


#main-content{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgba(20, 58, 86, 1);
    margin-top: 10px;
h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.8rem;
    padding-left:5%;
}
}

#footer{
    grid-column: 1/2;
    grid-row: 4/5;
}

/* Dropdown Button */
#bio-button-wrapper{
    position:fixed;
    display:flex;
    justify-content: center;
}
.bio-dropbtn {
    padding: 2px;
    margin-left: 2%;
}

  .bio-hamburger{
    width: 50px;
    height: 2px;
    background-color:black;
    margin: 6px 0;
  }
  
  
  .bio-dropdown-content {
   height: 0px;
   transition: all .2s;
  }


  .bio-dropdown-content a {
    display:none;
    color: rgb(18, 15, 179);
  }
  
  
  .bio-dropbtn:hover  {
    
    .bio-dropdown-content{
       height: 20vh;
       width: 95vw;
    a {
        display: block;
    }
     }
    }

    .left-div{
        display:none;
    }
    .right-div{
        display:none;
    }

@media screen and (min-width: 400px){
    #round-me{
        width:25%;
    }
}

@media screen and (min-width: 580px){
    #round-me{
        width:20%;
        height:50%
    }
    #mobile-bio-head{
        width:200px;
    }
}

@media screen and (min-width: 1030px){
    
    .bio-grid{
        grid-template-columns: 12.5% 10% 55% 22.5%;
        grid-template-rows: 30% 40% 20% 10%;
        grid-gap:0;
    }

    #main-content{
        grid-column: 3/4;
        grid-row: 2/4;
        margin:0;
        padding:0;
    }

    #head-picture {
        background-color: #143A56;
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #bio-blog{
        grid-column: 1/2;
        grid-row: 2/3;
    h4{
       color: white;
    }
    }
    #bio-projects{
        grid-column: 2/3;
        grid-row: 2/4;
        height:100%;
        width:100%;
    }

    #bio-resume{
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: rgb(201, 7, 7);
        writing-mode: vertical-rl;
        text-orientation: upright;
        h4{
            font-size: 2rem;
        }
    }

    .top-div{
        grid-column: 1/3;
        grid-row: 1/2;
        height:100%;
        width:100%;
    }

    .right-div{
        grid-column: 4/5;
        grid-row: 1/4;
        height:100%;
        width:100%;
    }

    .whole-body-wrapper{
        width:100%;
        height:100%;
    }

   #round-me{
       height:60%;
       width:20%;
   }

}