// This is the Main scss for the Bio, Blog and projects Pages.
// This first section if for the Mobile and tablet layouts.

// The following elements are not displayed until they are needed in certain queries.
#bio-blog{
    display:none;
}
#bio-projects{
    display:none
}
#bio-resume{
    display:none;
}
.bio-desktop-wrapper{
    display:none;
}

// Whole body wrapper used for controlling background color and positioning if needed.
.whole-body-wrapper{
    background-color:black;
}

#mobile-nav{
    display:flex;
    justify-content:space-around;
}

// This is the Grid used for the Bio, projects and Blog pages.
.bio-grid {
    height: 100vh;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 35%  auto 5%;
}
//  Header section of the mobile and tablet layout for Bio, Blog and projects pages.
#header {
    grid-column: 1/2;
    grid-row: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}

#internals {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    // padding: 10% ;
a{
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: .8rem;
}

}

// LOGO USED
#mobile-bio-head{
    width: 100px;
}

// Main header picture for the Bio, Blog and projects pages.
#head-picture {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(./project-pictures/bio-background.jpeg);
    background-size: 100% 79%;
    background-repeat: no-repeat;
    background-position: top;
    display:flex;
    align-items: flex-end;
    justify-content: center; 
}

// A little round picture of me...Rory Bell
#round-me{
    width: 35%;
    height:50%;
    border-radius: 50%;
    border: 3px solid black;
}

// The main content section of the Bio, Blog and projects pages
#main-content{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgba(20, 58, 86, 1);
    margin-top: 10px;

article{
p{
    font-family: 'Libre Baskerville', serif;
    color:black;
    padding: 20px;
}
}

h2{
    color:white;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.8rem;
    padding-left:5%;
}
h4{
    color: white;
    font-family: 'Libre Baskerville', serif;
    padding:10px;
}
}

// The footer section of the Bio,Blog and projects pages.
#footer{
    grid-column: 1/2;
    grid-row: 4/5;
}

 // contact links formatting.
 #contact-wrapper{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:10px;
    padding-bottom: 20px;

section{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height:50%;
    width:20%;
p{
    font-family: 'Libre Baskerville', serif;
}
    
}
img{
    height:100%;
    width:100%;
    border: 2px solid white;
    border-radius: 50%;
    transition: transform .5s;
}
img:hover{
    transform: rotate(360deg) scale(1.5);
}
}


// This is section contains the Dropdown button css.
// Wrapper for positioning.
#bio-button-wrapper{
    position:fixed;
    display:flex;
    justify-content: center;
}
// Main button
.bio-dropbtn {
    padding: 2px;
    margin-left: 2%;
    background-color: black;
}
//  The infamous hamburger icon on the button
  .bio-hamburger{
    width: 50px;
    height: 2px;
    background-color:White;
    margin: 6px 0;
  }
  
// The is the container for the dropdown content containing the transition aswell
  .bio-dropdown-content {
   height: 0px;
   background-image: url(./project-pictures/nav-bar.jpeg);
   background-size:contain;
   background-repeat:no-repeat;
   background-color: black;
   transition: all .2s;
  }

//  This the links within the dropdown container of the button.
  .bio-dropdown-content a {
    display:none;
    color: rgb(18, 15, 179);
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    padding: 5px;
  }
  
// This is what happens when we hover over the button
  .bio-dropbtn:hover  {
    
    .bio-dropdown-content{
       height: auto;
       width: 95vw;
    a {
        display: block;
    }
     }
    }

    .left-div{
        display:none;
    }
    .right-div{
        display:none;
    }


// Media query to change little picture of me for visual effect
@media screen and (min-width: 400px){
    #round-me{
        width:25%;
    }
}
// Tablet size query
@media screen and (min-width: 580px){
    #round-me{
        width:20%;
        height:50%
    }
    #mobile-bio-head{
        width:200px;
    }

    #internals {
        width:80%;
        display:flex;
        justify-content: space-evenly;
        padding: 10% ;
    a{
        font-family: 'Libre Baskerville', serif;
        color: black;
        font-size: 1.2rem;
    }
}
//  social contacts
#contact-wrapper{
    padding-bottom: 30px;

section{
    width:10%;
    
}
img{
    height:100%;
    width:100%;
    border: 2px solid white;
    border-radius: 50%;
    transition: transform .5s;
}
img:hover{
    transform: rotate(360deg) scale(1.5);
}
}


}

//  Desktop Queries section Hereafter lies :D
@media screen and (min-width: 1030px){

    #mobile-nav{
        display:none;
    }
// display nones not needed in this section
    .bio-desktop-button{
        display:none;
    }

    #footer{
        display:none;
    }
    // The main grid container of the Desktop version of the Bio Page.
    // The sections are mostly in order from left to right.Top to Bottom for navigation.
    .bio-grid{
        grid-template-columns: 12.5% 7.5% 60% 20%;
        grid-template-rows: 40% 50% auto;
        grid-gap:0;
        
    }

    .whole-body-wrapper{
        width:100%;
        height:auto;
        background-color:white;
    }

    #mobile-bio-head{
        height: 30%;
        width: 70%;
    }

    #header{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-content:center;
        grid-column: 1/3;
        grid-row: 1/2;
        
    }

    #head-picture {
        background-color: #143A56;
        grid-column: 3/4;
        grid-row: 1/2;
        padding:0;
        margin:0;
    }

    #round-me{
        height:45%;
        width:15%;
    }

    .right-div{
        display: flex;
        justify-content:center;
        grid-column: 4/5;
        grid-row: 1/4;
        background-image: url(./project-pictures/nav-bar.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
    }



    #main-content{
        display:flex;
        flex-direction: column;
        align-items: center;
        grid-column: 3/4;
        grid-row: 2/4;
        margin:0;
        padding:20px;
    }

  
    #bio-blog{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        grid-row: 2/3;
        border: 3px solid black;
        background-image: url(./project-pictures/blog.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .5s;
    h4{
       font-family: 'Libre Baskerville', serif;
       color: black;
       font-size: 2rem;
    }
    }
    // Hover animations for the blog section
    #bio-blog:hover{
       transform: scale(1.1)
    }

    #bio-projects{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        grid-column: 2/3;
        grid-row: 2/3;
        font-family: 'Libre Baskerville', serif;
        font-size: 2rem;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transition: transform .5s;
        
    h4{
        color:white;
    }  
    }
    // hover animations for the projects section.
    #bio-projects:hover{
        transform: scale(1.1);
    }

    #bio-resume{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/3;
        grid-row: 3/4;
        height:25%;
        background-color:black;
        background-image: url(./project-pictures/resume-pic.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
        border-right: 4px solid black;
        font-family: 'Libre Baskerville', serif;
        font-size: 2rem;
        transition: transform .5s;
    }  
    // Hover animations for the resume section.
    #bio-resume:hover{
        transform: scale(1.1) rotate(2deg);
    }

    // contact links formatting.
    #contact-wrapper{
        width:50%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom:20px;
        margin-bottom:10px;

    section{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        height:100%;
        width:18%;
    p{
        font-family: 'Libre Baskerville', serif;
    }
        
    }
    img{
        height:75%;
        padding:5px;
        border: 2px solid white;
        border-radius: 50%;
        transition: transform .5s;
    }
    img:hover{
        transform: rotate(360deg) scale(1.5);
    }
    }



    // Desktop button for right div container
    // Placing a display none on the button that is no longer needed. 
    .bio-dropbtn{
      display:none;
    }

    #bio-desktop-button-wrapper{
      position: fixed;
      display:flex;
      justify-content: center;
      align-items:center;
    }
    .bio-desktop-dropbtn {
      color: black;
      padding: 2px;
      margin-left: 2%;
    }

   .bio-desktop-hamburger{
     width: 50px;
     height: 2px;
     background-color:black;
     margin: 6px 0;
   }
   
   
   .bio-desktop-dropdown-content {
    height: 0px;
    background-color: rgba(0, 0, 0, 0.137);
    transition: all .3s;
   }


   .bio-desktop-dropdown-content a {
     display:none;
     color: rgb(255, 0, 0);
     font-family: 'Libre Baskerville', serif;
     font-size: 2rem;
   }
   
   
   .bio-desktop-dropbtn:hover  {
    
    opacity: .5;
     
   .bio-desktop-dropdown-content{
    position:static;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height: 100vh;
    width: 20vw;
    a {
      display: block;
      opacity:1;
    }
    }
    }


}