#blog {
    grid-column: 1/2;
    grid-row: 3/4;
    border: 3px solid black;
    background: url("/project-pictures/blog.jpeg");
    background-size: cover;
    writing-mode:vertical-rl;   
    text-orientation: upright; 
    display:flex;
    justify-content: center;
    align-items:center;
    transition: transform .5s;
}

#blog h4 {
    color:black;   
    font-size: 2.6rem;
    }

    #blog:hover{
        transform:scale(1.1);
    }