#image{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 3px solid black;
    background-image: url("/project-pictures/rory-white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
       
}
 